services:
  web:
    build:
      context: .
      target: web
    env_file:
      - .env
    expose:
      - "8000"
  nginx:
    build:
      context: .
      target: nginx
    depends_on:
      - web
    ports:
      - "8000:80"
